.order_place{
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    position: relative;
    left: 20px;
}
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}
.order_id{
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    position: relative;
    top: 25px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shope_more{
   
    text-decoration: none;
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
    background-color: black;
    color: white;
    
        
}
#shope_more{
    display: flex;
    width: 450px;
    height: 50px;
    border-radius: 10px;
   align-items: center;
   justify-content: center;
    position: relative;
    top: 10px;
    left: 32%;
}
#shope_more:hover{
    width: 470px;
    height: 60px;
    transition-duration: 0.3s;
}
.all{
    position: relative;
    top: 30px;
}
.order_idla{
    font-family: "Hepta Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    position: relative;
    top: 25px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}